body{
    background-color: bisque;
    display: flexbox;
}
.perant{
    display: flex;
    justify-content: center;
}

.title{
border: 2px black solid;
width: 30%;
justify-content: center;
padding: 25px;
text-align: center;
background-color: aqua;
height: 20px;
border-radius: 10px;
align-items: center;
justify-content: center;

}

p{   border: 2px black solid;
    width: 30%;
    justify-content: center;
    padding:30px;
    padding-top: 20px;
    text-align: center;
    background-color:palevioletred;
    height: 70px;
    border-radius: 10px;
    font-size: larger;
     margin: 10px;
}
.list{   border: 2px black solid;
    width: 30%;
    padding:30px;
    padding-top: 20px;
    text-align: center;
    background-color:yellowgreen;
    height: 250px;
    border-radius: 10px;
    font-size: larger;
     margin: 10px;
}
.perant3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perant2{
    display: flex;
    justify-content: center;
    align-content: center;
}